

{% extends 'base.html' %}
{% load static %} 

{% block content %}
    <div class="container-fluid">
      <div class="row background text-white">
        <p>Welcome to Marketplace</p>
        <p>Discover a wide range of products at unbeatable prices.</p>

        <p>Here you can find products of all categories.</p>
      <div class="col-4">  <a class="btn btn-primary" href="{% url 'product_list' %}">Shop Now</a></div>
      </div>
      <div class="col-4 square ">this is a square</div>
      <hr>
      <div class="row">
        <p>Explore our featured products and special offers.</p>
      </div>
    </div>

    
{% endblock %}
