{% extends 'base.html' %} {% load static %}
{% block extracss %}
{{block.super}}
  <link rel="stylesheet" href="{% static 'css/profile.css' %}" />
{% endblock extracss %}
{% block content %}

<div class="container mt-4 p-3 shadow-sm">
    <div class="row mb-4">
        {% if messages %}
        <div class="col-sm-12">
            {% for message in messages %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>

  <div class="row">
    <div class="col-sm-12 col-md-6 ">
      <h2>Account Information</h2>
      <table class="table">
        <tr>
          <th>Username:</th>
          <td>{% if user.username %}{{ user.username }}{% else %}Not provided{% endif %}</td>
        </tr>
        <tr>
          <th>Email:</th>
          <td>{% if user.email %}{{ user.email }}{% else %}Not provided{% endif %}</td>
        </tr>
        <tr>
          <th>First Name:</th>
          <td>{% if user.first_name %}{{ user.first_name }}{% else %}Not provided{% endif %}</td>
        </tr>
        <tr>
          <th>Last Name:</th>
          <td>{% if user.last_name %}{{ user.last_name }}{% else %}Not provided{% endif %}</td>
        </tr>
        <tr>
          <th>Date Joined:</th>
          <td>{{ user.date_joined|date:"F j, Y, g:i a" }}</td>
      </table>
    </div>


     <div class="col-sm-12 col-md-6">
        <h2>Manage your Products</h2>
   
        {% if products %}
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Product Name</th>
              <th>Price</th>
              <th>Image</th>
              <th>Actions</th>
            </tr>
           </thead>
       <tbody>
         {% for product in products %}
           <tr>
             <td>{{ product.product_name }}</td>
             <td>{{ product.price }}</td>
             <td><img src="{{ product.main_image.url }}" alt="{{ product.product_name }}" style="width: 100px; height: auto;"></td>
             <td>
               <a href="{% url 'product_edit' product.id %}" class="btn btn-primary">Edit</a>
               <form action="{% url 'product_delete' product.id %}" method="post" style="display:inline;">
                 {% csrf_token %}
                 <button type="submit" class="btn btn-danger">Delete</button>
               </form>
             </td>
           </tr>
         {% endfor %}
       </tbody>
      </table>
        {% else %}
          <p>You have no products listed for sale.</p>
        {% endif %}
    </div>
  </div>
 
</div>
{% endblock %}
