{% extends 'base.html' %} {% load static %} {% block content %}

<div class="container">
  <h1>User Profile</h1>
  <div class="row">
    <div class="col-6">
      <h1>Account Information</h1>
      <p>Email: {{ user.email }}</p>
      <p>Joined: {{ user.date_joined }}</p>
    </div>
  </div>
  <div class="col-6">
    <h1>Selling Products</h1>
    <p>Here you can manage your products.</p>
    {% if products %}
     <table class="table table-striped">
       <thead>
         <tr>
           <th>Product Name</th>
           <th>Price</th>
           <th>Image</th>
         </tr>
       </thead>
       <tbody>
         {% for product in products %}
           <tr>
             <td>{{ product.product_name }}</td>
             <td>{{ product.price }}</td>
             <td><img src="{{ product.main_image.url }}" alt="{{ product.product_name }}" style="width: 100px; height: auto;"></td>
           </tr>
         {% endfor %}
       </tbody>
     </table>
    {% else %}
      <p>You have no products listed for sale.</p>
    {% endif %}
  </div>
</div>
{% endblock %}
