<nav class="desktop-header d-none d-lg-block">
     
    <div class="container-fluid  d-flex align-items-center justify-content-end py-2">
       
       <div class=" me-auto">
            <h1>MarketPlace</h1>
        </div>

        <div class="d-flex justify-content-between align-items-center gap-3">

            
                {% include 'includes/searchform.html' %}
            
            <ul class="d-flex justify-content-end gap-3 w-auto mb-0 ps-0">
                <li class="">
                    <a class="" href="{% url 'home' %}">Home</a>
                </li>

                 <li class="">
                    <a class="" href="{% url 'product_list' %}">Products</a>
                </li>
                
               {% if user.is_authenticated %}
              
               <li class="">
                  <span><i class="fa-solid fa-plus white-text"></i></span>
                <a class="p-1" href="{% url 'product_create' %}"> Post a Product</a>
                  
                </li>
                {% if user.is_authenticated %}
                <li class="">
                     <a class="" href="{% url 'profile' %}"><i class="fa-solid fa-user"></i></a>
                </li>
                {% endif %}
                 <li class="">
                   <a class="" href="{% url 'account_logout' %}"><i class="fa-solid fa-right-from-bracket"></i></a>
               </li>
                {% else %}
                   

                <li class="">
                    <a class="" href="{% url 'account_login' %}">Sign in</a>
                </li>
                <li class="">
                    <a class="" href="{% url 'account_signup' %}">Register</a>
                </li>
                
                {% endif %}
            </ul>
        </div>
        <div class="d-flex justify-content-end align-items-center ms-3">
           {% if cart_total %}
           <a href="{% url 'shopping_cart' %}" class="btn btn-primary ">
               <i class="fas fa-shopping-cart"></i> £{{ cart_total|floatformat:2 }}
           </a>
              {% else %}
           <a href="{% url 'shopping_cart' %}" class="btn btn-primary">
               <i class="fas fa-shopping-cart"></i> £(0.00)
           </a>
           {% endif %}
        </div>
    </div>
</nav>