<nav class="navbar navbar-expand-md  px-3 py-2 mobile-header">
  <div class="container-fluid">
    <!-- Logo / Brand -->
       <div>
            <h1>MarketPlace</h1>
        </div>

    <!-- Hamburger toggle -->
    <button
      class="navbar-toggler ms-auto bg-light"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#mainNavbar"
      aria-controls="mainNavbar"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible menu -->
    <div class="collapse navbar-collapse" id="mainNavbar">
       <a class="btn btn-outline-primary mb-2 me-auto "  href="{% url 'product_list' %}">Products</a>
    

      <!-- Login/Register -->
      <div class="d-flex flex-column flex-md-row gap-2">
       {% if user.is_authenticated %}
       <a class="btn btn-outline-primary" href="{% url 'product_create' %}">Post an Ad</a>
       <a class="btn btn-outline-primary" href="{% url 'profile' %}">Profile</a>
       <a class="btn btn-outline-primary" href="{% url 'account_logout' %}">Logout</a>
        
        {% else %}
        <a class="btn btn-outline-primary" href="{% url 'account_login' %}">Login</a>
        <a class="btn btn-outline-primary" href="{% url 'account_signup' %}">Sign Up</a>
        {% endif %}
      </div>
    </div>
  </div>
</nav>

 {% if cart_total %}
<div class="bg-light px-3 py-2 d-block d-md-none">
  <a href="{% url 'shopping_cart' %}" class="btn btn-warning w-100">
    <i class="fas fa-shopping-cart"></i> 
   
      £{{ cart_total|floatformat:2 }}
    
    
  </a>
</div>
{% else %}
<div class="bg-light px-3 py-2 d-block d-md-none">
  <a href="{% url 'shopping_cart' %}" class="btn btn-warning w-100">
    <i class="fas fa-shopping-cart"></i> (0.00)
  </a>  
</div>

{% endif %}
