<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">MarketCorner</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'product_list' %}">Products</a>
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            >Categories</a
          >
          <ul class="dropdown-menu p-3" style="width: 700px">
            <div class="row">
              {% for cat in categories %}
              <div class="col-2 shadow p-2">
                
                <li>
                  <a
                    class="dropdown-item"
                    href="{% url 'product_list' %}?category={{ cat.name }}"
                  >
                    {{ cat.name }}
                  </a>
                </li>
              </div>
              {% endfor %}
            </div>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About Us</a>
        </li>

        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="">Logout</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">Register</a>
        </li>
        {% endif %}
      </ul>
    </div>

    <form
      class="d-flex"
      role="search"
      method="GET"
      action="{% url 'product_list' %}"
    >
      <input
        class="form-control me-2"
        type="search"
        placeholder="Search....."
        aria-label="Search"
        name="search"
      />
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    <ul class="navbar-nav mx-5">
      <li class="nav-item">
        {% if grand_total %}
        <a class="nav-link" href="#"
          >Cart ({{ grand_total | floatformat:2 }})</a
        >
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="#">Cart (£0.0)</a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>
