{% extends 'base.html' %} {% load static %} {% block content %}


<div class="container mt-5">
  <h1>Your Shopping Cart</h1>
  <div class="row">
     {% if cart_items %}
    <div class="col-6">
      
     
      <p>You have {{ cart_items|length }} items in your cart.</p>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Product</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          {% for item in cart_items %}
          <tr>
            <td>{{ item.product_name }}</td>
            <td>{{ item.price | floatformat:2 }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <a href="#" class="btn btn-primary">Proceed to Checkout</a>
    </div>

    <div class="col-6">
      <h2>Total: £{{ cart_total | floatformat:2 }}</h2>
    </div>
    {% else %}
    <div class="col-6">
      <p>Your cart is empty</p>
      <a href="{% url 'product_list' %}" class="btn btn-primary">Shop Now</a>
    </div>

    <div class="col-6">
      <h2>Total: £{{ cart_total | floatformat:2 }}</h2>
      
    </div>

    
    
    
  </div>
  {% endif %}
</div>





{% endblock %}
