{# templates/messaging/thread_detail.html #}
{% extends "base.html" %}


{% block content %}
<div class="container py-4">

  <div class="row">

  <div class="col-12 mb-3">
    <a href="{% url 'messaging:inbox' %}" class="text-decoration-none">&larr; Back to Inbox</a>
  </div>

  <div class="col-12">
    <div class="card mb-3">
    <div class="card-body">

      {% if thread.product.product_name %}
        <P class="fw-bold">{{ thread.product.product_name }}</P>
      {% endif %}

      <div>
        <h5 class="mb-1">
          <a href="{% url 'product_detail' thread.product.id %}" class="text-decoration-none">
            {{ thread.product.title }}
          </a>
        </h5>
        <div class="text-muted fs-6">
           Listed by: {{ thread.seller }}
        </div>
      </div>
    </div>
  </div>
  </div>

  <div class="col-12 list-group">
    {% if messages %}
      {% for m in messages %}
        <div class="list-group-item">
          <div class="d-flex justify-content-between align-items-baseline">
            <strong>{{ m.sender }}</strong>
            <span class="text-muted small" title="{{ m.created_at }}">
              {{ m.created_at|date:"M d, Y H:i" }}
            </span>
          </div>
          <p class="mb-0 mt-2">{{ m.body|linebreaksbr }}</p>
        </div>
      {% endfor %}
    {% else %}
      <div class="list-group-item text-muted">
        No incoming messages for this thread.
      </div>
    {% endif %}
  </div>


  <form method="post" action="{% url 'messaging:thread_detail' thread.id %}" class="col-10 mt-3">
    {% csrf_token %}
    <div class="input-group">
      <textarea name="body" class="form-control" rows="2" placeholder="Write a message…" required></textarea>
      <button class="btn btn-primary w-100">Send</button>
    </div>
  </form>
  
  </div>
</div>
{% endblock %}

