

{% extends 'base.html' %}
{% load static %}


{% block content %}

<div class="container mt-4 mb-2">
    

    <div class="row mb-4">
        {% if messages %}
        <div class="col-md-12">
            {% for message in messages %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
        </div>
        {% endif %}
       
    </div>
    <div class="row">
        <div class="col-md-6">
            <img
          src="{{ product.main_image.url }}"
          style="height: 350px; width: 100%; object-fit: contain;"
          class="card-img-top"
          alt="{{ product.product_name }}"
        />
        </div>
        <div class="col-md-6">
            <h2>{{ product.product_name }}</h2>
            <p>{{ product.description }}</p>
            <p>Price: ${{ product.price }}</p>
            <p>Category: {{ product.category.get_display_name }}</p>
           {% if user.is_authenticated %}
             <form action="{% url 'add_to_cart' product.id %}" method="post">
                {% csrf_token %}

                <input type="hidden" name="product" class="form-control mb-2">
               <button type="submit" class="btn btn-success">Add to Cart</button>
            </form>
              {% else %}
               <p class="text-muted fs-7">Please log in to add items to your cart.</p>
               <a href="{}" class="btn btn-primary mt-4">Login</a>
           {% endif %}

            <a href="{% url 'product_list' %}" class="btn btn-primary mt-4">Back to Products</a>
        </div>
         
    </div>

</div>
    
{% endblock %}