{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
Create Product
{% endblock %}

{% load static %}
 {% block content %}
<div class="container product-container pt-5 mb-3 bg-light rounded-3">
    <h2>Post a Product</h2>
<form method="post" action="{% url 'product_create' %}" enctype="multipart/form-data">
  {% csrf_token %} 
<div class="container">
    <div class="row">
        <div class="col-md-6">
            {{ form|crispy }}
        </div>
        <div class="col-md-6">
         
        <div class="col-md-6">
          {{ formset|crispy }}

        </div>
    </div>
</div>

  <button class="btn btn-primary" type="submit">Post Ad</button>
</form>
</div>
{% endblock %}
