{% extends 'base.html' %} {% load static %}
 {% block title %} 
 Product List
  {%endblock %}
  
  
  {% block content %}
<div class="container">
  <div class="row mb-4">
    {% if messages %}
    <div class="col-md-12">
      {% for message in messages %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Holy guacamole!</strong> {{ message }}
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
      {% endfor %}
    </div>
    {% endif %}
    <div class="col-md-12">
      <h2>Welcome to the Product List</h2>
      <p>Here you can find a variety of products available for purchase.</p>
    </div>
  </div>

  <div class="row">
    {% for product in products %}
    <div class="col-6 col-sm-6 col-md-2 mb-4">
      <div class="card ">
        <img
          src="{{ product.main_image.url }}"
          style="height: 150px"
          class="card-img-top"
          alt="{{ product.product_name }}"
        />
        <div class="card-body">
          <h5 class="fs-6">{{ product.product_name }}</h5>
          <p class="card-text">£{{ product.price }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
