{% extends 'base.html' %}
{% load static %}
{% block title %}
 Product List
{% endblock %}

{% block content %}
<div class="container">
    <h1>Product List</h1>
    <div class="row">
        {% for product in products %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="{{ product.main_image.url }}" class="card-img-top" alt="{{ product.product_name }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.product_name }}</h5>
                        <p class="card-text">{{ product.description|truncatewords:20 }}</p>

                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
