{% extends 'base.html' %} {% load static %}

  
  {% block content %}
  <div>
    <div class="container-fluid category-wrapper mb-2  ">
       <button class="scroll-btn left" onclick="scrollCategories(-200)">&#8249;</button>
      <div class="category-container">
        <a href="{% url 'product_list' %}"><div class="category">All Products</div></a>
        {% for c in categories %}
        <a href="{% url 'product_list' %}?category={{ c.name }}"><div class="category">{{ c.get_display_name }} </div></a>
        {% endfor %}
       
      </div>
      <button class="scroll-btn right" onclick="scrollCategories(200)">&#8250;</button>
    </div>

  
 
<div class="container">

  <div class="row mb-4">
    {% if messages %}
    <div class="col-md-12">
      {% for message in messages %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
       {{ message }}
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
      {% endfor %}
    </div>
    {% endif %}
  
  </div>

   <!-- <div class="container mt-3">
      <div class="row">
       
      </div>
    </div> -->

     

  <div class="row ">
    {% for product in products %}
    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2 mb-4">
     <a href="{% url 'product_detail' product.id %}">
       <div class="card border-0 shadow-sm">
        <img
          src="{{ product.main_image.url }}"
          style="height: 150px; width: 100%; object-fit: contain;"
          class="card-img-top"
          alt="{{ product.product_name }}"
        />
        <div class="card-body p-2">
          <h5 class="fs-6 uppercase gray-text">{{ product.product_name }}</h5>
          <p class="black-text fw-bold mb-0">£{{ product.price }}</p>
          <p class="text-muted fs-7 gray-text mb-0"><span>Author: </span>{{ product.seller }}</p>
          <p class="fs-7 gray-text mb-0"><span>Listed: </span>{{ product.created_at|timesince }} ago</p>
        </div>
      </div>
     </a>
    </div>
    {% endfor %}
  </div>
</div>
</div>

{% endblock %}
